.quote-box{     
    padding: 2px;                     
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}
.quote-text{                             
    text-align: center;
    font-size: 24px;
}
.quote-author{                           
    text-align: right;
    margin-top: 40px;
}