body{
    margin: 0;
    padding: 0;
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.quote-box{ 
    margin-top: 60px;  
    padding: 2px;                     
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position: relative;
}
.quote-text{                             
    text-align: center;
    font-size: 24px;
    position: relative;
}
.quote-author{                           
    text-align: right;
    margin-top: 40px;
    position: relative;
}

button {
    border-radius: 20%;
    outline: none;
    background-color: aqua;
    padding: 15px;
    position: relative;
}